# Interface gráfica com PyQt
PyQt5

# Manipulação de dados e análise de arquivos
pandas
openpyxl
PyPDF2

# Para análise financeira, cálculos e gráficos
numpy
scipy
matplotlib
seaborn
plotly

# Modelos de séries temporais e previsões
statsmodels

# Análise detalhada de dados financeiros
pandas_profiling
